section{
    h2{
        text-transform: uppercase;
        max-width: 20rem;
        height: 8.125rem;
        margin-left: 1.375rem;
        margin-top: 5rem;
        margin-bottom: 2rem;

        @media screen and (min-width: 880px) {
            max-width: 36.875rem;
        }
        @media screen and (min-width: 890px) {
            margin-top: 1.5rem;
        }
    }
}