.container{
    width: 100%;

    div{
        img{
            width: 44rem;
            height: 25rem;
            margin-top: 2rem;
            margin-left: 5rem;
            border-radius: 2.5rem;
        }
    }
}