:root{
    --color-black: #000000;
    --color-white: #FFFFFF;
    --color-grey: #EEEEEE;

    --font-primary: "Oswald", sans-serif;

    --title-size-1: 6.25rem;
    --title-size-1-mobile: 3.75rem;

    --title-size-2: 3.75rem;
    --title-size-2-mobile: 2.75rem;

    --title-size-3: 2rem;

    --title-size-4: 1.1875rem;
    
}