.container {
    width: 100vw;

    display: flex;
    flex-direction: column;
    align-items: center;

    img {
        width: 100vw;
        max-width: 21.375rem;
        max-height: 18.875rem;
        margin-top: 2rem;
        border-radius: 1.25rem;
    }

    h1{
        text-transform: uppercase;
        text-align: center;
        margin-top: 3rem;
        margin-bottom: 3rem;
    }

    button{
        width: 100%;
        max-width: 17rem;
        height: 3.75rem;
        background-color: var(--color-black);
        color: var(--color-white);
        text-transform: uppercase;
    }
}